doctype html
head(lang='en')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv='x-ua-compatible',content='IE=edge')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

    title 婉頤 Jerry - 個人網站

    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/font-awesome.min.css")
    link(rel="stylesheet", href="css/lightbox.css")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/custom.css")

    script(src="js/jquery.min.js" type='text/javascript')
    script(src="js/bootstrap.min.js",type='text/javascript')
    script(src="js/lightbox.min.js" type='text/javascript')
    script(src="js/vue.js" type='text/javascript')

body
    #app
        .row
            .sidebar.col-md-3
                .all
                    .logo
                        img(src="images/wan-yi-logo.svg", alt="")
                    h1 翁婉頤
                    p Jerry Weng
                    .contact
                        h3 —— Contact ——
                        a(href='tel:0909967260')
                            i.fa.fa-phone-square 
                            | 0909-967-260
                        a(href='mailto:dragonryu09@gmail.com')
                            i.fa.fa-envelope-square
                            | dragonryu09@gmail.com
            .main.col-md-9
                section#portfolio
                    h2 About Me
                    .part_wrapper
                        .port
                            .photo.col-md-4
                                img(src="images/jerry.png", alt="")
                            .text.col-md-8
                                h3 翁婉頤 (Jerry Weng)
                                p 大家好，我是翁婉頤。今年九月要到臺灣科技大學 資訊管理所就讀碩一。在大學求學期間，被學校工讀處室的職員質疑一句：
                                    em 「你是資管系的不會寫網頁，讀什麼資管系！」
                                    |給激到，從此跳入網頁前端的坑ＸＤ

                                p 接處網頁大概一年半左右，從學校網站頁面小小修改，到可以替學校寫畢業典禮網站。
                                    |大三也到企業實習，主要利用HTML,CSS,jQuery,RWD，替公司的案子切版、製作。
                                    |也接觸過大型專案，如：玉山國家公園網站、台灣電力公司內部網頁切版等。
                                
                                p 大四的畢業專題擔任組長，透過前端與後端(php)建構了一套旅遊攻略規劃的平台。
                                    | 接下來將會增進原生JavaScript、ES6及Vue.js等框架的能力。
                            
                hr
                section#skills
                    h2 Skills
                    .part_wrapper.col-md-12
                        ul.skill
                            li(v-for="s in skills")
                                h3 {{s.name}}
                                p {{s.discription}}
                                    a(:href='s.works.whref' target="_blank") 
                                        em {{s.works.wname}}
                                .process_bar
                                    .bar(:style="{'width':s.processes+'%'}")
                                    

                        
    
                hr
                section#experience
                    h2 Experience
                    
                    #app2.part_wrapper.col-xs-12
                        .ul_wrapper
                            transition-group.timeline(tag='ul',name='fade')
                                li.list_wrapper(v-for="(l,id) in lists" :key="id",:style="{'transition-delay':id/2+'s'}")
                                    .dialog
                                        h3 {{l.years}}
                                        .title {{l.title}}
                                    ul.list_content
                                        li(v-for="c in l.content") {{c.tags}}
                                    
                                    
                hr
                section#web
                    h2 My Works
                    span 點擊圖片到作品網站
                    .row
                        .part_wrapper.col-xs-12.col-sm-6.col-md-12(v-for='w in works')
                            .box_left.col-md-6
                                a(:href='w.href' target='_blank')
                                    img(:src='w.img', alt="")
                            .box_info.col-md-6
                                .info
                                    .title {{w.title}}
                                    .tags
                                        .tag(v-for='t in w.tags')  # {{t}}
                                    ul
                                        li(v-for='d in w.discription') - {{d}}

                hr
                section#eduacation
                    h2 Eduacation
                    .part_wrapper.col-xs-12
                        .edu
                            .ncue.col-xs-6
                                .logo
                                    img(src="images/ncue.png", alt="")
                                .year 2014.09 - 2018.06
                                .name 國立彰化師範大學 
                                | 資訊管理學系
                            .ntust.col-xs-6
                                .logo
                                    img(src="images/ntust.png", alt="")
                                .year 2018.09 - 2020.06
                                .name 國立臺灣科技大學 
                                | 資訊管理學所
                            .base_line.col-xs-12
                                .go
                                    i.fa.fa-graduation-cap
                                    | NOW HERE

                        
                
                hr
                section#others
                    h2 Others
                    .part_wrapper.col-xs-12
                        ul.act.col-md-6
                            li
                                .year 2018.03 - 2018.04 
                                .title 參加第16屆ATCC 晉級初賽第一輪
                            li
                                .year 2017.09 - 2018.06 
                                .title 彰師大資管系畢業成果展總召
                        ul.act.col-md-6
                            li
                                .year 2016.09 - 2017.06 
                                .title 彰師大資管系系女籃副隊長
                            li
                                .year 2015.11
                                .title 彰師大四系聯合商管歌唱比賽主持人





        script(src="js/all.js" type='text/javascript')
    //- script(type="text/javascript").
    //-   (function () {
    //-   var options = {
    //-   line: "//line.me/ti/p/VOOh6lHPBR", // Line QR code URL
    //-   company_logo_url: "//scontent.ftpe3-1.fna.fbcdn.net/v/t1.0-9/22554987_10208655844828081_5435680817703353611_n.jpg?oh=043398429ff2a8a1385a137aaba1bdbb&oe=5B4590D3", // URL of company logo (png, jpg, gif)
    //-   greeting_message: "有網頁設計/平面設計的需求都可以找我聊聊！", // Text of greeting message
    //-   call_to_action: "聯絡我", // Call to action
    //-   button_color: "#437280", // Color of button
    //-   position: "left", // Position may be 'right' or 'left'
    //-   order: "facebook,line" // Order of buttons
    //-   };
    //-   var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
    //-   var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
    //-   s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
    //-   var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    //-   })();                           



